@use "../layout";
.Macbook{
    background: var(--Gray-6, #FAFAFA);

    .all{
       
        
        .weel >h1{
            text-align: center;
            padding: 32px;
            color: #000;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; 
            letter-spacing: 0.25px;
        }
        .column{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 110px;
            .column-all{
                h1{
                    width: 575px;
                    color: #000;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%;
                }
                p{
                    width: 575px;
                    color: #000;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 170%; 
                    letter-spacing: 0.25px;
                }
            }
            .img{
                max-width: 460px;
                img{
                    width: 100%;
                    height: 412.005px;
                    flex-shrink: 0;
                    border-radius: 6px;
                    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    
                }
            }
        }
    }
    .hammasi{
       
        background-color: white;
     
        .text{
         display: flex;
         justify-content: center;
         align-items: center;
         height: 40vh;
       
         h1{
            color: #000;
            text-align: center;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; 
            letter-spacing: 0.25px;
         }
         
        }
        .hammasi-all{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 350px;
            flex-wrap: wrap;
          
        .hammasi-column {
          
            img{
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                margin-left: 35%;
            }
            p{
                color: var(--Black, #000);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; 
                letter-spacing: 0.44px;
                margin-top: 20px;
             
            }
        }
        }



    }

    .list{
        background: radial-gradient(1075.73% 141.42% at 0% 0%, #0F0D2B 0%, #0C0926 100%);
        
        .list-all{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 180px;
           margin-top: 250px;
           .list-column{
            img{
                width: 259.162px;
                height: 469.472px;
                transform: rotate(-8.019deg);
                flex-shrink: 0;
                margin-top: -140px;
            }

           }
           
           h1{
            width: 700px;
            height: 96px;
            flex-shrink: 0;
            color: var(--White, #FFF);
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; 
            letter-spacing: 0.25px;
        }
        p{
            width: 700px;
            height: 96px;
            color: var(--White, #FFF);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0.44px;
        }
        .rasm1{
            display: flex;
            gap: 20px;
            img{
                width: 165px;
                height: 56px;
                flex-shrink: 0;
            }
        }
            
        }
    }

 
.list_all{
    .list_hammasi{
        display: flex;
        justify-content: center;
        gap: 90px;
        flex-wrap: wrap;
        padding: 120px 0;
        .list_well{
        img{
            width: 600px;
            height: 504.523px;
            flex-shrink: 0;
            border-radius: 6px;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        }
        }
        .text2{
            h1{
                width: 460px;
                height: 128px;
                flex-shrink: 0;
                color: #000;
                font-family: Inter;
                font-size: 46px;
                font-style: normal;
                font-weight: 900;
                line-height: 64px; 
            }
            .col{
                display: flex;
                padding: 50px 0;
                gap: 160px;
                line-height: 1.5;
                .text5{
                    h1{
                        color: #000;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 32px; 
                    }
                    p{
                        color: #000;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px; 
                    }
                }

            }
            .rock{
                display: flex;
                padding: 30px 0;
                gap: 160px;
                line-height: 1.5;
            }
        }
    }
}


    footer{
        margin-top: 1%;
    }








    #backtop {
        text-decoration: none;
        font-size: 24px;
        font-weight: 900;
        background-color: rgb(255, 255, 255);
        box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
        color: #333;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: fixed;
        right: 20px;
        bottom: -50px;
        cursor: pointer;
        z-index: 99;
        transition: 0.6s;
    }


    
    



}
@media only screen and (max-width: 1038px){
    .Macbook{
        .hammasi{
            .hammasi-all{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 150px;
                flex-wrap: wrap;
              
        
            }
    
    
    
        }
    }
}

@media only screen and (max-width: 700px){
    .Macbook{
    
    
        .list{
            background: radial-gradient(1075.73% 141.42% at 0% 0%, #0F0D2B 0%, #0C0926 100%);
            
            .list-all{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 180px;
               margin-top: 250px;
               .list-column{
               
    
               }
               
               h1{
                width: 500px;
                text-align: center;
             
            }
            p{
                width: 500px;
               
            }
            .rasm1{
                display: flex;
                gap: 20px;
                justify-content: center;
                align-items: center;
            }
                
            }
        }
    
     
    .list_all{
        .list_hammasi{
            display: flex;
            justify-content: center;
            gap: 90px;
            flex-wrap: wrap;
            padding: 120px 0;
            .list_well{
            img{
                width: 500px;
                height: 504.523px;
                flex-shrink: 0;
                border-radius: 6px;
                background: url(<path-to-image>), lightgray 50% / cover no-repeat;
            }
            }
           
        }
    }

    
    #backtop {
        text-decoration: none;
        font-size: 24px;
        font-weight: 900;
        background-color: rgb(255, 255, 255);
        box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
        color: #333;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: fixed;
        bottom: -50px;
        cursor: pointer;
        z-index: 99;
        transition: 0.6s;
    }
    }
}

@media only screen and (max-width: 500px){
    .Macbook{
        background: var(--Gray-6, #FAFAFA);
    
        .all{
            .column{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 80px;
                .column-all{
                    h1{
                        width: 400px;
                        text-align: center;
                       
                    }
                    p{
                        width: 400px;
                        text-align: center;
                      
                    }
                }
               
            }
        }
        .hammasi{
           
            .hammasi-all{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;
                flex-wrap: wrap;
              
            }
        }
    
        .list{
            background: radial-gradient(1075.73% 141.42% at 0% 0%, #0F0D2B 0%, #0C0926 100%);
            
            .list-all{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 80px;
               margin-top: 250px;
               .list-column{
                img{
                    width: 259.162px;
                    height: 469.472px;
                    transform: rotate(-8.019deg);
                    flex-shrink: 0;
                    margin-top: -140px;
                }
    
               }
               
               h1{
                width: 400px;
                text-align: center;
            }
            p{
                width: 400px;
                text-align: center;
            }
            .rasm1{
                display: flex;
                gap: 20px;
                padding: 30px 0;
            }
                
            }
        }
    
     
    .list_all{
        .list_hammasi{
            display: flex;
            justify-content: center;
            gap: 90px;
            flex-wrap: wrap;
            padding: 120px 0;
            .list_well{
            img{
                width: 400px;
                height: 404.523px;
                flex-shrink: 0;
                border-radius: 6px;
                background: url(<path-to-image>), lightgray 50% / cover no-repeat;
            }
            }
            .text2{
                h1{
                    width: 400px;
                    text-align: center;
                    height: 128px;
                    font-size: 34px;
                  
                }
                .col{
                    display: flex;
                    padding: 50px 0;
                    gap: 160px;
                    line-height: 1.5;
                    .text5{
                        h1{
                            color: #000;
                            font-family: Inter;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 32px; 
                        }
                        p{
                            color: #000;
                            font-family: Inter;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px; 
                        }
                    }
    
                }
                .rock{
                    display: flex;
                    padding: 30px 0;
                    gap: 160px;
                    line-height: 1.5;
                }
            }
        }
    }
    
    
        footer{
            margin-top: 1%;
        }
    
    
    
    
    
    
    
    
        #backtop {
            text-decoration: none;
            font-size: 24px;
            font-weight: 900;
            background-color: rgb(255, 255, 255);
            box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
            color: #333;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: fixed;
            bottom: -50px;
            cursor: pointer;
            z-index: 99;
            transition: 0.6s;
        }
    
    
        
        
    
    
    
    }
}

@media only screen and (max-width: 430px){
    .Macbook{
        .list{
            background: radial-gradient(1075.73% 141.42% at 0% 0%, #0F0D2B 0%, #0C0926 100%);
            
            .list-all{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 80px;
               margin-top: 250px;
               .list-column{
                img{
                    width: 259.162px;
                    height: 469.472px;
                    transform: rotate(-8.019deg);
                    flex-shrink: 0;
                    margin-top: -140px;
                }
    
               }
               
               h1{
                width: 350px;
                text-align: center;
                font-size: 24px;
            }
            p{
                width: 350px;
                text-align: center;
            }
            .rasm1{
                display: flex;
                gap: 20px;
                padding: 100px 0;
            }
                
            }
        }
    }
}
@media only screen and (max-width: 400px){
    .Macbook{
        background: var(--Gray-6, #FAFAFA);
    
        .all{
            .column{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 80px;
                .column-all{
                    text-align: center;
                    h1{
                        width: 400px;
                        text-align: center;
                       
                    }
                    p{
                        width: 350px;
                        text-align: center;
                      
                    }
                    .img{
                        img{
                            max-width: 300px;
                            width: 100%;
                            flex-shrink: 0;
                            border-radius: 6px;
                            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
            
                        }
                    }
                }
               
            }
        }
        .hammasi{
           
            .hammasi-all{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;
                flex-wrap: wrap;
              
            }
        }
    
        .list{
            background: radial-gradient(1075.73% 141.42% at 0% 0%, #0F0D2B 0%, #0C0926 100%);
            
            .list-all{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 80px;
               margin-top: 250px;
               .list-column{
                img{
                    width: 259.162px;
                    height: 469.472px;
                    transform: rotate(-8.019deg);
                    flex-shrink: 0;
                    margin-top: -140px;
                }
    
               }
               
               h1{
                width: 350px;
                text-align: center;
                font-size: 24px;
            }
            p{
                width: 350px;
                text-align: center;
            }
            .rasm1{
                display: flex;
                gap: 20px;
                padding: 100px 0;
            }
                
            }
        }
    
     
    .list_all{
        .list_hammasi{
            display: flex;
            justify-content: center;
            gap: 90px;
            flex-wrap: wrap;
            padding: 120px 0;
            .list_well{
            img{
                width: 350px;
                height: 350.523px;
                flex-shrink: 0;
                border-radius: 6px;
                background: url(<path-to-image>), lightgray 50% / cover no-repeat;
            }
            }
            .text2{
                h1{
                    width: 350px;
                    text-align: center;
                    height: 128px;
                    font-size: 34px;
                  
                }
                .col{
                    display: flex;
                    padding: 50px 0;
                    justify-content: center;
                    align-items: center;
                    gap: 100px;
                    line-height: 1.5;
                    .text5{
                        h1{
                            color: #000;
                            font-family: Inter;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 32px; 
                        }
                        p{
                            color: #000;
                            font-family: Inter;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px; 
                        }
                    }
    
                }
                .rock{
                    display: flex;
                    padding: 30px 0;
                    gap: 160px;
                    line-height: 1.5;
                }
            }
        }
    }
    
    
        footer{
            margin-top: 1%;
        }
    
    
    
    
    
    
    
    
        #backtop {
            text-decoration: none;
            font-size: 24px;
            font-weight: 900;
            background-color: rgb(255, 255, 255);
            box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
            color: #333;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: fixed;
            bottom: -50px;
            cursor: pointer;
            z-index: 99;
            transition: 0.6s;
        }
    
    
        
        
    
    
    
    }
}